.movies{
    display:flex;
    justify-content:space-around;
    gap:30px;
    flex-wrap:wrap;
    &__movie{
        border:2px solid;
        width:300px;
        // box-shadow: ;
        img{
           
            height:200px;
            padding-left: 70px;
            width:200px;
        }
    }
}