<p></p>
<div class="movies">
  <div *ngFor="let c of movies" class="card" style="width: 18rem">
    <p>{{ c.movie_id }}</p>

    <img [src]="c.movie_poster" alt="Movie Poster" />
    <p>{{ c.movie_name }}</p>
    <div  *ngIf="c.showDetails">
    <p>{{ c.movie_actor }}</p>
    <p>{{ c.movie_description }}</p>
    <p>{{ c.movie_date | date | date : "dd/MM/yyyy" }}</p>
  </div>
  <button class="btn btn-primary" (click)="Countvalues()" (click)="toggleDetails(c)">Details</button>

    <button (click)="DeleteMovie(c.movie_id)">Delete</button>
    <button (click)="EditMovie(c.movie_id)">Edit</button>
  </div>
</div>


