<!-- <p>header works!</p> -->
<div class="header">
  
    <!-- <button (click)="passtoparent()">send</button> -->
    <div class="header__div">
    <img class="header__image" src="../assets/moviepage.jpg" />
    </div>
    <div class="navbar navbar-dark bg-dark">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/movieslist" routerLinkActive="active">Posts</a>
        <a routerLink="/addmovie" routerLinkActive="active">Add Movie</a>
        <a routerLink="/edit/:id" routerLinkActive="active">Edit Movie</a>
        <a >Contact</a>
        <a >About us</a>
    </div>
    <!-- <button >clcik it</button> -->
   
</div>
